<mat-accordion multi>
  @for (group of groups; track $index) {
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon aria-hidden="false"
                  aria-label="Example home icon"
                  fontIcon="account_circle"></mat-icon>
        <span>{{ group.name }}</span>
      </mat-panel-title>
      <mat-panel-description>
        Description or last updated date
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-debt-list [group]="group"></app-debt-list>
  </mat-expansion-panel>
  }
</mat-accordion>