<form [formGroup]="form">
  <mat-button-toggle-group formControlName="splitType"
                           name="splitType"
                           aria-label="Split Type"
                           [hideSingleSelectionIndicator]="true">
    @for (option of splitTypeOptions; track option.value) {
    <mat-button-toggle [value]="option.value">
      {{ option.label }}
    </mat-button-toggle>
    }
  </mat-button-toggle-group>

  <section formArrayName="splitMembers">
    @for (member of form.controls.splitMembers.value; track member.id; let i = $index) {
    <section [formGroupName]="i"
             class="flex gap-4 justify-between">
      <section class="flex flex-col">
        <h4 class="font-medium">{{ member.name }}</h4>
        <p class="text-sm text-gray-500">{{ member.email }}</p>
      </section>

      @switch (form.value.splitType) {
      @case ('equal') {
      <mat-checkbox formControlName="selected"
                    (click)="onSplitMembersErrorMessage()" />
      }
      @case ('exact') {
      <mat-form-field floatLabel="always">
        <mat-label>Amount</mat-label>
        <input matInput
               formControlName="amount"
               type="number"
               placeholder="0.00"
               min="0"
               (blur)="onSplitMembersErrorMessage()" />
        <span matTextPrefix>{{ currency.value?.symbol }}</span>
      </mat-form-field>
      }
      @case ('percentage') {
      <mat-form-field floatLabel="always">
        <mat-label>Percentage</mat-label>
        <input matInput
               formControlName="amount"
               type="number"
               placeholder="0"
               min="0"
               max="100"
               (blur)="onSplitMembersErrorMessage()" />
        <span matTextSuffix>%</span>
      </mat-form-field>
      }
      }
    </section>
    }
  </section>

  <!-- Total amount -->
  @switch (form.value.splitType) {
  @case ('exact') {
  <section class="flex flex-col items-center">
    <h4 class="font-medium">{{ sumAmount | currency: currency.value?.code }} of
      {{ amount.value | currency: currency.value?.code }}</h4>
    <p class="text-sm text-gray-500">{{ amountLeft | currency: currency.value?.code }} left</p>
  </section>
  }
  @case ('percentage') {
  <section class="flex flex-col items-center">
    <h4 class="font-medium">{{ sumAmount }}% of
      100%</h4>
    <p class="text-sm text-gray-500">{{ percentageLeft }}% left</p>
  </section>
  }
  }

  <!-- Error message -->
  <p class="text-sm text-red-500"
     *ngIf="form.controls.splitMembers.invalid">
    {{ splitMembersErrorSignal() }}
  </p>
</form>