<mat-card>
  <mat-card-header>
    <mat-card-title>Payment Contributions</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ngx-charts-bar-vertical [view]="view"
                             [scheme]="'cool'"
                             [results]="chartData()"
                             [gradient]="gradient"
                             [xAxis]="showXAxis"
                             [yAxis]="showYAxis"
                             [legend]="showLegend"
                             [showXAxisLabel]="showXAxisLabel"
                             [showYAxisLabel]="showYAxisLabel"
                             [xAxisLabel]="xAxisLabel"
                             [yAxisLabel]="yAxisLabel"
                             [yAxisTickFormatting]="yAxisTickFormatting">
    </ngx-charts-bar-vertical>
  </mat-card-content>
</mat-card>