<ng-container *ngIf="groupWithMembersSignal() as group">
  <ng-container *ngIf="allGroupUsersLoaded()">
    <app-group-balance-summary [payments]="paymentsSignal"
                               [users]="usersSignal()"></app-group-balance-summary>
  </ng-container>

  <section class="flex gap-2">
    <button mat-flat-button
            (click)="onRouteToPayBack()">Pay Back</button>
    <button mat-flat-button
            color="primary"
            (click)="onRouteToPayment()">
      Add Payment
    </button>
  </section>
  <mat-card>
    <mat-card-header>
      <mat-card-title class="flex items-center gap-2">
        {{ group.name }}
        <button mat-icon-button
                (click)="openEditGroupNameDialog(group.id, group.name)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h3>Members</h3>
      <ul>
        <li *ngFor="let member of group.members">
          {{ member.name }} ({{ member.email }})
        </li>
      </ul>

      <button mat-raised-button
              color="primary"
              (click)="openAddMemberDialog(group.id)">
        <mat-icon>add</mat-icon>
        Add Member
      </button>
    </mat-card-content>
  </mat-card>

  <app-payments-history [users]="membersComputed"
                        [payments]="paymentsSignal"></app-payments-history>
</ng-container>